<link rel="stylesheet" href="css/jungle.css">

<div class="game-container-2">
	<div id="pusher_two"></div>
		<a href="jg_maptwo.html">
			<div id="button_mapone">
			
			</div>
		</a>
		<a href="jg_maptwo.html">
			<div id="button_maptwo">
			
			</div>
		</a>
		<a href="jg_maptwo.html">
			<div id="button_mapthree">
			
			</div>
		</a>
			
			<a href="jg_afterlogin.html">
				<div id="button_menu">
			
				</div>
			</a>
			<a href="jg_achievements.html">
				<div id="button_menu">
			
				</div>
			</a>
</div>
